/* ./your-css-folder/styles.css */
@tailwind base;

.btn{
    @apply outline-none py-2 px-4 ml-4 text-white font-semibold rounded-md;
}
.btn-teal{
    @apply bg-green-500;
}
.btn-teal:hover{
    @apply bg-green-500;
}

@tailwind components;
@tailwind utilities;

